<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ATM</title>
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
  </head>
  <body>
    <h3>Account Details</h3>
    <div>
      Logged in user: <b class="user" th:text="${name}"></b>
      <form method="POST" th:action="@{/app-logout}">
        <input type="submit" value="Logout"/>
      </form>
    </div>
    <br/>

    <div>Account Balance: <span th:text="${accountInfo.balance}"></span></div>
    <br/><br/>

    <div>Withdraw from Account:</div>
    <input id="withdraw" type="number"></input>
    <button onclick="location.href='/app/account/withdraw/'+$('#withdraw').val()">Withdraw</button>
    <br/><br/>
    <div>Deposit to Account:</div>
    <input id="deposit" type="number"></input>
    <button onclick="location.href='/app/account/deposit/'+$('#deposit').val()">Deposit</button>
    <br/><br/><br/>

  </body>
</html>
